## corona 데이터

In [32]:
import pandas as pd

In [33]:
#외부 데이터파일 로드
corona = pd.read_csv('../csv/corona.csv')

In [34]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [35]:
corona.head(3)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN

In [36]:
#컬럼 기준 결측값 개수 확인
corona.isna().sum()

Unnamed: 0      0
createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [37]:
#결측치가 포함되어 있는 인덱스 확인
corona.isna().any()

Unnamed: 0    False
createDt      False
deathCnt      False
decideCnt     False
seq           False
stateDt       False
stateTime     False
updateDt       True
accExamCnt     True
accDefRate     True
dtype: bool

In [38]:
flag = corona.isna().any(axis = 'columns')

In [39]:
corona.loc[-flag]

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
197,197,2021-11-23 08:59:47.863,3328,420946,706,20211123,00:00,2021-11-30 09:06:13.348,16878955.0,2.787908
198,198,2021-11-22 09:07:45.615,3298,418249,705,20211122,00:00,2021-11-26 09:29:38.144,16816616.0,2.778249
199,199,2021-11-21 09:05:22.138,3274,415422,704,20211121,00:00,2021-11-26 09:29:24.197,16777679.0,2.760823
200,200,2021-11-20 08:51:26.319,3244,412302,703,20211120,00:00,2021-11-26 09:28:52.855,16740119.0,2.740178
201,201,2021-11-19 08:54:43.169,3215,409097,702,20211119,00:00,2021-11-26 09:28:44.079,16684168.0,2.723426
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [40]:
#특정 컬럼 제거
corona.loc[:,'createDt':]

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [41]:
#case2(iloc)
corona.iloc[ : ,1:]

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [42]:
#case3(drop())
#drop(조건, axis= 0|1, 'rows'|'columns',inplace = bool)
#조건에 따라 데이터를 제거하는 함수
#axis행을 지울것인가 열을 지울것인가
#inplace 변경된 데이터를 저장할것인가?

df = corona.drop(
    ["Unnamed: 0",'seq'],
    axis = 1
)

In [43]:
df.head(3)

,createDt,deathCnt,decideCnt,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN

In [44]:
#df의 복사본 생성
df2 = df.copy()

In [45]:
#컬럼의 이름 변경
df.columns = [
    '등록일시',
    '총사망자',
    '총확진자',
    '기준일',
    '기준시간',
    '수정일시',
    '누적의심자',
    '누적확진율'
    ]

In [46]:
df.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [47]:
df2.columns

Index(['createDt', 'deathCnt', 'decideCnt', 'stateDt', 'stateTime', 'updateDt',
       'accExamCnt', 'accDefRate'],
      dtype='object')

In [48]:
#case2 (rename()함수 사용)
df2.rename(
    columns = {
        'createDt' : '등록일시',
        'deathCnt' : '총사망자',
        'decideCnt' : '총확진자',
        'stateDt' : '기준일',
        'stateTime' : '기준시간',
        'updateDt' : '수정일시',
       'accExamCnt' : '누적의심자',
       'accDefRate' : '누적확진율'
    }
)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [49]:
df.head(10)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
5,2022-06-03 09:08:18.729,24229,18141775,20220603,00:00,2022-06-08 09:11:38.938,NaN,NaN
6,2022-06-02 08:58:19.746,24212,18129236,20220602,00:00,2022-06-08 09:11:51.985,NaN,NaN
7,2022-06-01 09:07:30.461,24197,18119345,20220601,00:00,2022-06-08 09:12:05.316,NaN,NaN
8,2022-05-31 08:55:39.977,24176,18103577,20220531,00:00,2022-06-04 08:59:23.637,NaN,NaN
9,2022-05-30 09:01:30.847,24167,18086392,20220530,00:00,2022-06-04 08:59:37.203,NaN,NaN

In [50]:
#누적의심자가 결측치인 데이터 출력
df.loc[df['누적의심자'].isna()]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
123,2022-02-05 10:25:08.782,6858,970983,20220205,00:00,2022-02-09 13:05:01.221,NaN,NaN
124,2022-02-04 08:58:40.476,6836,934638,20220204,00:00,2022-02-09 13:04:52.382,NaN,NaN
125,2022-02-03 08:46:14.856,6812,907200,20220203,00:00,2022-02-09 13:04:42.741,NaN,NaN
126,2022-02-02 09:04:49.92,6787,884294,20220202,00:00,2022-02-09 13:04:29.013,NaN,NaN
127,2022-02-01 09:06:24.411,6772,864026,20220201,00:00,2022-02-09 13:04:21.424,NaN,NaN

In [51]:
#누적의심자에서 결측치가 시작되는 지점부터 위 아래 2개씩 데이터 확인해보자
df.loc[125:129]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
125,2022-02-03 08:46:14.856,6812,907200,20220203,00:00,2022-02-09 13:04:42.741,NaN,NaN
126,2022-02-02 09:04:49.92,6787,884294,20220202,00:00,2022-02-09 13:04:29.013,NaN,NaN
127,2022-02-01 09:06:24.411,6772,864026,20220201,00:00,2022-02-09 13:04:21.424,NaN,NaN
128,2022-01-31 09:22:37.347,6755,845688,20220131,00:00,2022-02-07 09:06:04.861,21518073.0,NaN
129,2022-01-30 09:13:00.269,6732,828611,20220130,00:00,2022-02-07 09:05:54.937,21448119.0,NaN

In [52]:
#데이터 프레임 정렬
#오름차순 / 내림차순
#sort_index() : 인덱스의 값을 기준으로 오름/ 내림
#sort_values(조건) : 조건 ? 컬럼의 이름
#ascending = bool 매개변수 존재(True : 오름차순, False : 내림차순)
#df.sort_index(ascending=False)
df.sort_values(
    ['등록일시'],
    inplace = True
)

In [53]:
df.head(2)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175

In [54]:
#인덱스를 초기화하고 재지정
#reset_index()
#drop 매개변수 : 기존의인덱스를 제거할지 선택(기본값 : False)
#df.reset_index().drop('index',axis=1)
df.reset_index(drop=True,inplace= True)

In [55]:
#일일사망자 데이터 생성
#오늘의 총사망자 - 어제의 총사망자 = 일일사망자
df.loc[1,'총사망자'] - df.loc[0,'총사망자']
df.loc[2,'총사망자'] - df.loc[1,'총사망자']
df['총사망자']

0         54
1         60
2         66
3         67
4         72
       ...
815    24238
816    24258
817    24279
818    24299
819    24305
Name: 총사망자, Length: 820, dtype: int64

In [56]:
#일일사망자의 수를 계산하여 저장해야될 공간을 생성
#리스트로 생성 첫날에 일일사망자는 비교군이 존재하지 않음 -> 0
death_cnt = [0]
#오늘의 데이터 - 전날의 데이터 결과를 death_cnt에 추가
#반복문을 통해 819번 진행

for i in range (len(df['총사망자'])-1):
    day_death_cnt = df.loc[i+1,'총사망자'] - df.loc[i,'총사망자']
    death_cnt.append(day_death_cnt)

In [57]:
len(death_cnt)

820

In [58]:
d_cnt = [0]
i = 0
while(i < len(df)-1):
    dea_cnt = df.loc[i+1,'총사망자'] - df.loc[i,'총사망자']
    d_cnt.append(dea_cnt)
    i +=1

In [59]:
print(d_cnt)

[0, np.int64(6), np.int64(6), np.int64(1), np.int64(5), np.int64(3), np.int64(0), np.int64(6), np.int64(3), np.int64(7), np.int64(3), np.int64(8), np.int64(2), np.int64(7), np.int64(9), np.int64(6), np.int64(5), np.int64(8), np.int64(5), np.int64(8), np.int64(6), np.int64(4), np.int64(3), np.int64(4), np.int64(5), np.int64(3), np.int64(6), np.int64(3), np.int64(6), np.int64(8), np.int64(4), np.int64(4), np.int64(3), np.int64(3), np.int64(3), np.int64(5), np.int64(3), np.int64(4), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(2), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(1), np.int64(0), np.int64(2), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(2), np.int64(1), np.int64(3), np.int64(5), np.int64(2), np.int64(1), np.int64(0), np.int64(2), np.int64(3), np.int64(2), np.int64(2), np.int64(1), np.int64(2), np.int64(5), np.int64(3), np.int64(2), np.int64(4), np.int64(5), np.int64(3), np.int64(5), np.int64(4), np.int64(0), np.int64(5), np.int64(5), np.int64(1), np.int64(5), np.int64(2), np.int64(3), np.int64(0), np.int64(5), np.int64(2), np.int64(4), np.int64(2), np.int64(5), np.int64(1), np.int64(6), np.int64(2), np.int64(1), np.int64(4), np.int64(1), np.int64(1), np.int64(0), np.int64(3), np.int64(2), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(4), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(0), np.int64(3), np.int64(3), np.int64(3), np.int64(2), np.int64(2), np.int64(0), np.int64(0), np.int64(3), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(4), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(2), np.int64(5), np.int64(2), np.int64(0), np.int64(1), np.int64(4), np.int64(1), np.int64(1), np.int64(0), np.int64(2), np.int64(2), np.int64(3), np.int64(2), np.int64(2), np.int64(4), np.int64(1), np.int64(3), np.int64(2), np.int64(1), np.int64(6), np.int64(1), np.int64(3), np.int64(0), np.int64(0), np.int64(3), np.int64(7), np.int64(4), np.int64(5), np.int64(4), np.int64(3), np.int64(4), np.int64(8), np.int64(8), np.int64(6), np.int64(2), np.int64(7), np.int64(13), np.int64(12), np.int64(22), np.int64(11), np.int64(14), np.int64(15), np.int64(24), np.int64(24), np.int64(17), np.int64(17), np.int64(17), np.int64(20), np.int64(15), np.int64(11), np.int64(40), np.int64(20), np.int64(21), np.int64(17), np.int64(25), np.int64(20), np.int64(19), np.int64(26), np.int64(20), np.int64(19), np.int64(35), np.int64(19), np.int64(25), np.int64(15), np.int64(25), np.int64(20), np.int64(10), np.int64(22), np.int64(19), np.int64(13), np.int64(15), np.int64(19), np.int64(17), np.int64(16), np.int64(12), np.int64(9), np.int64(12), np.int64(11), np.int64(11), np.int64(7), np.int64(8), np.int64(13), np.int64(15), np.int64(6), np.int64(5), np.int64(10), np.int64(6), np.int64(7), np.int64(11), np.int64(5), np.int64(7), np.int64(3), np.int64(8), np.int64(4), np.int64(10), np.int64(11), np.int64(7), np.int64(8), np.int64(5), np.int64(7), np.int64(4), np.int64(6), np.int64(6), np.int64(3), np.int64(4), np.int64(5), np.int64(11), np.int64(3), np.int64(5), np.int64(4), np.int64(10), np.int64(8), np.int64(2), np.int64(1), np.int64(6), np.int64(7), np.int64(8), np.int64(5), np.int64(2), np.int64(8), np.int64(3), np.int64(3), np.int64(4), np.int64(10), np.int64(5), np.int64(2), np.int64(6), np.int64(3), np.int64(8), np.int64(2), np.int64(2), np.int64(3), np.int64(3), np.int64(1), np.int64(7), np.int64(3), np.int64(2), np.int64(7), np.int64(5), np.int64(1), np.int64(4), np.int64(3), np.int64(2), np.int64(4), np.int64(2), np.int64(3), np.int64(4), np.int64(4), np.int64(4), np.int64(4), np.int64(2), np.int64(6), np.int64(1), np.int64(3), np.int64(2), np.int64(5), np.int64(7), np.int64(6), np.int64(2), np.int64(4), np.int64(3), np.int64(4), np.int64(1), np.int64(4), np.int64(2), np.int64(3), np.int64(1), np.int64(1), np.int64(4), np.int64(3), np.int64(1), np.int64(4), np.int64(3), np.int64(3), np.int64(2), np.int64(1), np.int64(6), np.int64(7), np.int64(4), np.int64(9), np.int64(5), np.int64(9), np.int64(1), np.int64(4), np.int64(5), np.int64(7), np.int64(2), np.int64(3), np.int64(4), np.int64(3), np.int64(1), np.int64(8), np.int64(4), np.int64(6), np.int64(4), np.int64(5), np.int64(3), np.int64(4), np.int64(2), np.int64(3), np.int64(3), np.int64(5), np.int64(8), np.int64(-2), np.int64(6), np.int64(2), np.int64(3), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(3), np.int64(3), np.int64(4), np.int64(1), np.int64(1), np.int64(2), np.int64(1), np.int64(5), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(3), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(3), np.int64(3), np.int64(1), np.int64(1), np.int64(2), np.int64(4), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(5), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(4), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(3), np.int64(3), np.int64(2), np.int64(5), np.int64(4), np.int64(2), np.int64(4), np.int64(2), np.int64(4), np.int64(6), np.int64(3), np.int64(1), np.int64(5), np.int64(2), np.int64(3), np.int64(4), np.int64(3), np.int64(5), np.int64(4), np.int64(9), np.int64(1), np.int64(3), np.int64(6), np.int64(4), np.int64(8), np.int64(11), np.int64(6), np.int64(5), np.int64(13), np.int64(6), np.int64(5), np.int64(13), np.int64(7), np.int64(6), np.int64(9), np.int64(20), np.int64(8), np.int64(11), np.int64(3), np.int64(5), np.int64(1), np.int64(7), np.int64(11), np.int64(5), np.int64(7), np.int64(6), np.int64(6), np.int64(3), np.int64(4), np.int64(9), np.int64(5), np.int64(10), np.int64(1), np.int64(1), np.int64(7), np.int64(13), np.int64(6), np.int64(3), np.int64(5), np.int64(9), np.int64(6), np.int64(4), np.int64(6), np.int64(8), np.int64(7), np.int64(7), np.int64(9), np.int64(6), np.int64(8), np.int64(10), np.int64(7), np.int64(16), np.int64(7), np.int64(3), np.int64(6), np.int64(11), np.int64(12), np.int64(8), np.int64(10), np.int64(6), np.int64(15), np.int64(8), np.int64(11), np.int64(11), np.int64(13), np.int64(8), np.int64(18), np.int64(16), np.int64(8), np.int64(21), np.int64(9), np.int64(11), np.int64(16), np.int64(20), np.int64(21), np.int64(7), np.int64(15), np.int64(9), np.int64(11), np.int64(9), np.int64(13), np.int64(19), np.int64(9), np.int64(16), np.int64(18), np.int64(24), np.int64(20), np.int64(20), np.int64(11), np.int64(13), np.int64(18), np.int64(14), np.int64(21), np.int64(18), np.int64(32), np.int64(20), np.int64(12), np.int64(22), np.int64(21), np.int64(29), np.int64(28), np.int64(29), np.int64(30), np.int64(24), np.int64(30), np.int64(34), np.int64(39), np.int64(39), np.int64(52), np.int64(56), np.int64(32), np.int64(44), np.int64(34), np.int64(47), np.int64(34), np.int64(70), np.int64(43), np.int64(41), np.int64(64), np.int64(63), np.int64(57), np.int64(53), np.int64(80), np.int64(42), np.int64(40), np.int64(94), np.int64(70), np.int64(62), np.int64(73), np.int64(53), np.int64(78), np.int64(54), np.int64(52), np.int64(78), np.int64(109), np.int64(56), np.int64(105), np.int64(69), np.int64(55), np.int64(46), np.int64(36), np.int64(73), np.int64(108), np.int64(62), np.int64(69), np.int64(36), np.int64(51), np.int64(57), np.int64(49), np.int64(45), np.int64(54), np.int64(51), np.int64(34), np.int64(43), np.int64(52), np.int64(44), np.int64(49), np.int64(22), np.int64(29), np.int64(23), np.int64(45), np.int64(74), np.int64(28), np.int64(21), np.int64(28), np.int64(11), np.int64(25), np.int64(23), np.int64(32), np.int64(34), np.int64(24), np.int64(34), np.int64(20), np.int64(23), np.int64(17), np.int64(15), np.int64(25), np.int64(24), np.int64(22), np.int64(15), np.int64(13), np.int64(36), np.int64(21), np.int64(20), np.int64(49), np.int64(33), np.int64(36), np.int64(21), np.int64(61), np.int64(39), np.int64(36), np.int64(45), np.int64(71), np.int64(51), np.int64(45), np.int64(58), np.int64(99), np.int64(82), np.int64(94), np.int64(112), np.int64(49), np.int64(114), np.int64(112), np.int64(96), np.int64(128), np.int64(186), np.int64(216), np.int64(161), np.int64(139), np.int64(186), np.int64(158), np.int64(206), np.int64(229), np.int64(269), np.int64(251), np.int64(200), np.int64(293), np.int64(164), np.int64(429), np.int64(301), np.int64(319), np.int64(327), np.int64(329), np.int64(384), np.int64(291), np.int64(469), np.int64(393), np.int64(323), np.int64(282), np.int64(287), np.int64(237), np.int64(432), np.int64(375), np.int64(360), np.int64(339), np.int64(306), np.int64(218), np.int64(209), np.int64(371), np.int64(348), np.int64(373), np.int64(338), np.int64(329), np.int64(258), np.int64(171), np.int64(184), np.int64(318), np.int64(264), np.int64(273), np.int64(203), np.int64(132), np.int64(130), np.int64(166), np.int64(147), np.int64(206), np.int64(151), np.int64(109), np.int64(110), np.int64(82), np.int64(141), np.int64(122), np.int64(136), np.int64(70), np.int64(81), np.int64(83), np.int64(49), np.int64(72), np.int64(79), np.int64(48), np.int64(83), np.int64(71), np.int64(40), np.int64(62), np.int64(29), np.int64(63), np.int64(52), np.int64(55), np.int64(48), np.int64(35), np.int64(27), np.int64(31), np.int64(40), np.int64(43), np.int64(26), np.int64(54), np.int64(22), np.int64(19), np.int64(23), np.int64(34), np.int64(40), np.int64(36), np.int64(19), np.int64(9), np.int64(9), np.int64(21), np.int64(15), np.int64(17), np.int64(9), np.int64(20), np.int64(21), np.int64(20), np.int64(6)]

In [60]:
i = 0
death_cnt2 = [0]

while True:
    try:
        data = df.loc[i+1, '총사망자'] - df.loc[i,'총사망자']
        death_cnt2.append(data)
    except:
        #반복 실행하는코드 에러 발생시 
        break
    i += 1

In [61]:
print(death_cnt2)
print(len(death_cnt2))

[0, np.int64(6), np.int64(6), np.int64(1), np.int64(5), np.int64(3), np.int64(0), np.int64(6), np.int64(3), np.int64(7), np.int64(3), np.int64(8), np.int64(2), np.int64(7), np.int64(9), np.int64(6), np.int64(5), np.int64(8), np.int64(5), np.int64(8), np.int64(6), np.int64(4), np.int64(3), np.int64(4), np.int64(5), np.int64(3), np.int64(6), np.int64(3), np.int64(6), np.int64(8), np.int64(4), np.int64(4), np.int64(3), np.int64(3), np.int64(3), np.int64(5), np.int64(3), np.int64(4), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(2), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(1), np.int64(0), np.int64(2), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(2), np.int64(1), np.int64(3), np.int64(5), np.int64(2), np.int64(1), np.int64(0), np.int64(2), np.int64(3), np.int64(2), np.int64(2), np.int64(1), np.int64(2), np.int64(5), np.int64(3), np.int64(2), np.int64(4), np.int64(5), np.int64(3), np.int64(5), np.int64(4), np.int64(0), np.int64(5), np.int64(5), np.int64(1), np.int64(5), np.int64(2), np.int64(3), np.int64(0), np.int64(5), np.int64(2), np.int64(4), np.int64(2), np.int64(5), np.int64(1), np.int64(6), np.int64(2), np.int64(1), np.int64(4), np.int64(1), np.int64(1), np.int64(0), np.int64(3), np.int64(2), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(4), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(0), np.int64(3), np.int64(3), np.int64(3), np.int64(2), np.int64(2), np.int64(0), np.int64(0), np.int64(3), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(4), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(2), np.int64(5), np.int64(2), np.int64(0), np.int64(1), np.int64(4), np.int64(1), np.int64(1), np.int64(0), np.int64(2), np.int64(2), np.int64(3), np.int64(2), np.int64(2), np.int64(4), np.int64(1), np.int64(3), np.int64(2), np.int64(1), np.int64(6), np.int64(1), np.int64(3), np.int64(0), np.int64(0), np.int64(3), np.int64(7), np.int64(4), np.int64(5), np.int64(4), np.int64(3), np.int64(4), np.int64(8), np.int64(8), np.int64(6), np.int64(2), np.int64(7), np.int64(13), np.int64(12), np.int64(22), np.int64(11), np.int64(14), np.int64(15), np.int64(24), np.int64(24), np.int64(17), np.int64(17), np.int64(17), np.int64(20), np.int64(15), np.int64(11), np.int64(40), np.int64(20), np.int64(21), np.int64(17), np.int64(25), np.int64(20), np.int64(19), np.int64(26), np.int64(20), np.int64(19), np.int64(35), np.int64(19), np.int64(25), np.int64(15), np.int64(25), np.int64(20), np.int64(10), np.int64(22), np.int64(19), np.int64(13), np.int64(15), np.int64(19), np.int64(17), np.int64(16), np.int64(12), np.int64(9), np.int64(12), np.int64(11), np.int64(11), np.int64(7), np.int64(8), np.int64(13), np.int64(15), np.int64(6), np.int64(5), np.int64(10), np.int64(6), np.int64(7), np.int64(11), np.int64(5), np.int64(7), np.int64(3), np.int64(8), np.int64(4), np.int64(10), np.int64(11), np.int64(7), np.int64(8), np.int64(5), np.int64(7), np.int64(4), np.int64(6), np.int64(6), np.int64(3), np.int64(4), np.int64(5), np.int64(11), np.int64(3), np.int64(5), np.int64(4), np.int64(10), np.int64(8), np.int64(2), np.int64(1), np.int64(6), np.int64(7), np.int64(8), np.int64(5), np.int64(2), np.int64(8), np.int64(3), np.int64(3), np.int64(4), np.int64(10), np.int64(5), np.int64(2), np.int64(6), np.int64(3), np.int64(8), np.int64(2), np.int64(2), np.int64(3), np.int64(3), np.int64(1), np.int64(7), np.int64(3), np.int64(2), np.int64(7), np.int64(5), np.int64(1), np.int64(4), np.int64(3), np.int64(2), np.int64(4), np.int64(2), np.int64(3), np.int64(4), np.int64(4), np.int64(4), np.int64(4), np.int64(2), np.int64(6), np.int64(1), np.int64(3), np.int64(2), np.int64(5), np.int64(7), np.int64(6), np.int64(2), np.int64(4), np.int64(3), np.int64(4), np.int64(1), np.int64(4), np.int64(2), np.int64(3), np.int64(1), np.int64(1), np.int64(4), np.int64(3), np.int64(1), np.int64(4), np.int64(3), np.int64(3), np.int64(2), np.int64(1), np.int64(6), np.int64(7), np.int64(4), np.int64(9), np.int64(5), np.int64(9), np.int64(1), np.int64(4), np.int64(5), np.int64(7), np.int64(2), np.int64(3), np.int64(4), np.int64(3), np.int64(1), np.int64(8), np.int64(4), np.int64(6), np.int64(4), np.int64(5), np.int64(3), np.int64(4), np.int64(2), np.int64(3), np.int64(3), np.int64(5), np.int64(8), np.int64(-2), np.int64(6), np.int64(2), np.int64(3), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(3), np.int64(3), np.int64(4), np.int64(1), np.int64(1), np.int64(2), np.int64(1), np.int64(5), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(3), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(3), np.int64(3), np.int64(1), np.int64(1), np.int64(2), np.int64(4), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(5), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(4), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(3), np.int64(3), np.int64(2), np.int64(5), np.int64(4), np.int64(2), np.int64(4), np.int64(2), np.int64(4), np.int64(6), np.int64(3), np.int64(1), np.int64(5), np.int64(2), np.int64(3), np.int64(4), np.int64(3), np.int64(5), np.int64(4), np.int64(9), np.int64(1), np.int64(3), np.int64(6), np.int64(4), np.int64(8), np.int64(11), np.int64(6), np.int64(5), np.int64(13), np.int64(6), np.int64(5), np.int64(13), np.int64(7), np.int64(6), np.int64(9), np.int64(20), np.int64(8), np.int64(11), np.int64(3), np.int64(5), np.int64(1), np.int64(7), np.int64(11), np.int64(5), np.int64(7), np.int64(6), np.int64(6), np.int64(3), np.int64(4), np.int64(9), np.int64(5), np.int64(10), np.int64(1), np.int64(1), np.int64(7), np.int64(13), np.int64(6), np.int64(3), np.int64(5), np.int64(9), np.int64(6), np.int64(4), np.int64(6), np.int64(8), np.int64(7), np.int64(7), np.int64(9), np.int64(6), np.int64(8), np.int64(10), np.int64(7), np.int64(16), np.int64(7), np.int64(3), np.int64(6), np.int64(11), np.int64(12), np.int64(8), np.int64(10), np.int64(6), np.int64(15), np.int64(8), np.int64(11), np.int64(11), np.int64(13), np.int64(8), np.int64(18), np.int64(16), np.int64(8), np.int64(21), np.int64(9), np.int64(11), np.int64(16), np.int64(20), np.int64(21), np.int64(7), np.int64(15), np.int64(9), np.int64(11), np.int64(9), np.int64(13), np.int64(19), np.int64(9), np.int64(16), np.int64(18), np.int64(24), np.int64(20), np.int64(20), np.int64(11), np.int64(13), np.int64(18), np.int64(14), np.int64(21), np.int64(18), np.int64(32), np.int64(20), np.int64(12), np.int64(22), np.int64(21), np.int64(29), np.int64(28), np.int64(29), np.int64(30), np.int64(24), np.int64(30), np.int64(34), np.int64(39), np.int64(39), np.int64(52), np.int64(56), np.int64(32), np.int64(44), np.int64(34), np.int64(47), np.int64(34), np.int64(70), np.int64(43), np.int64(41), np.int64(64), np.int64(63), np.int64(57), np.int64(53), np.int64(80), np.int64(42), np.int64(40), np.int64(94), np.int64(70), np.int64(62), np.int64(73), np.int64(53), np.int64(78), np.int64(54), np.int64(52), np.int64(78), np.int64(109), np.int64(56), np.int64(105), np.int64(69), np.int64(55), np.int64(46), np.int64(36), np.int64(73), np.int64(108), np.int64(62), np.int64(69), np.int64(36), np.int64(51), np.int64(57), np.int64(49), np.int64(45), np.int64(54), np.int64(51), np.int64(34), np.int64(43), np.int64(52), np.int64(44), np.int64(49), np.int64(22), np.int64(29), np.int64(23), np.int64(45), np.int64(74), np.int64(28), np.int64(21), np.int64(28), np.int64(11), np.int64(25), np.int64(23), np.int64(32), np.int64(34), np.int64(24), np.int64(34), np.int64(20), np.int64(23), np.int64(17), np.int64(15), np.int64(25), np.int64(24), np.int64(22), np.int64(15), np.int64(13), np.int64(36), np.int64(21), np.int64(20), np.int64(49), np.int64(33), np.int64(36), np.int64(21), np.int64(61), np.int64(39), np.int64(36), np.int64(45), np.int64(71), np.int64(51), np.int64(45), np.int64(58), np.int64(99), np.int64(82), np.int64(94), np.int64(112), np.int64(49), np.int64(114), np.int64(112), np.int64(96), np.int64(128), np.int64(186), np.int64(216), np.int64(161), np.int64(139), np.int64(186), np.int64(158), np.int64(206), np.int64(229), np.int64(269), np.int64(251), np.int64(200), np.int64(293), np.int64(164), np.int64(429), np.int64(301), np.int64(319), np.int64(327), np.int64(329), np.int64(384), np.int64(291), np.int64(469), np.int64(393), np.int64(323), np.int64(282), np.int64(287), np.int64(237), np.int64(432), np.int64(375), np.int64(360), np.int64(339), np.int64(306), np.int64(218), np.int64(209), np.int64(371), np.int64(348), np.int64(373), np.int64(338), np.int64(329), np.int64(258), np.int64(171), np.int64(184), np.int64(318), np.int64(264), np.int64(273), np.int64(203), np.int64(132), np.int64(130), np.int64(166), np.int64(147), np.int64(206), np.int64(151), np.int64(109), np.int64(110), np.int64(82), np.int64(141), np.int64(122), np.int64(136), np.int64(70), np.int64(81), np.int64(83), np.int64(49), np.int64(72), np.int64(79), np.int64(48), np.int64(83), np.int64(71), np.int64(40), np.int64(62), np.int64(29), np.int64(63), np.int64(52), np.int64(55), np.int64(48), np.int64(35), np.int64(27), np.int64(31), np.int64(40), np.int64(43), np.int64(26), np.int64(54), np.int64(22), np.int64(19), np.int64(23), np.int64(34), np.int64(40), np.int64(36), np.int64(19), np.int64(9), np.int64(9), np.int64(21), np.int64(15), np.int64(17), np.int64(9), np.int64(20), np.int64(21), np.int64(20), np.int64(6)]
820

In [62]:
#스리즈데이터에서 데이터 간의 차이를 출력하는 함수 존재
df['총사망자'].diff().fillna(0)

0       0.0
1       6.0
2       6.0
3       1.0
4       5.0
       ...
815     9.0
816    20.0
817    21.0
818    20.0
819     6.0
Name: 총사망자, Length: 820, dtype: float64

In [63]:
#스리즈 데이터에서 인덱스를 이동하는 함수
(df['총사망자'] - df['총사망자'].shift()).fillna(0)

0       0.0
1       6.0
2       6.0
3       1.0
4       5.0
       ...
815     9.0
816    20.0
817    21.0
818    20.0
819     6.0
Name: 총사망자, Length: 820, dtype: float64

In [64]:
#리스트로 만들어둔 데이터를 데이터 프레임에 대입
df['일일사망자'] = death_cnt

In [65]:
df.head(2)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6

In [66]:
#diff()를 사용한 방법
death_cnt3 = df['총사망자'].diff().fillna(0)

In [67]:
#shift를 사용한 방법
death_cnt4 = ((df['총사망자'] - df['총사망자'].shift())).fillna(0)

In [68]:
death_cnt4

0       0.0
1       6.0
2       6.0
3       1.0
4       5.0
       ...
815     9.0
816    20.0
817    21.0
818    20.0
819     6.0
Name: 총사망자, Length: 820, dtype: float64

In [69]:
df['일일사망자2'] = death_cnt3
df['일일사망자3'] = death_cnt4

In [70]:
df.tail(3)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21,21.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20,20.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6,6.0,6.0

In [71]:
#일일확진자 컬럼 생성
df['일일확진자'] = \
    df['총확진자'].diff().fillna(0)
df['일일확진자2'] = \
    (df['총확진자'] - df['총확진자'].shift()).fillna(0)

In [72]:
df.tail(3)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21,21.0,21.0,5022.0,5022.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20,20.0,20.0,6172.0,6172.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6,6.0,6.0,13358.0,13358.0

In [73]:
df.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000,820.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,29.574390,29.574390,22171.569512,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530863,68.530863,68.530863,71013.854189,71013.854189
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,-2.000000,-2.000000,-2.000000,-430.000000,-430.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,2.000000,2.000000,125.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,5.000000,5.000000,642.500000,642.500000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,20.000000,20.000000,2782.750000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,469.000000,469.000000,621204.000000,621204.000000

In [74]:
#일일확진자, 일일사망자 수에 음수가 존재 
#조건식 : 일일확진자 중 음수인 데이터
flag = df['일일확진자'] < 0
df.loc[flag]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430.0,-430.0

In [75]:
df.loc[444:448]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0,533.0,533.0
445,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0,910.0,910.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430.0,-430.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0,889.0,889.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0,677.0,677.0

In [76]:
#index445번의 기준일, 등록일시 문제를 확인
#2021-05-30 00:00:00.0값을 202105-31 00:00:00.000 변경
df.loc[445,'등록일시'] = '2021-05-31 00:00:00.000'

In [77]:
df.loc[444:448]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3,일일확진자,일일확진자2
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0,533.0,533.0
445,2021-05-31 00:00:00.000,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0,910.0,910.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0,-430.0,-430.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0,889.0,889.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0,677.0,677.0

## 스스로 실습

- 일일사망자, 일일사망자2, 일일사망자3, 일일확진자, 일일확진자2 제거
- 등록일시를 기준으로 오름차순 정렬
- 인덱스 초기화하고 기존의 인덱스 제거
- 일일사망자는 shift()함수로 생성 (결측치는 0)
- 일일확진자는 diff()함수를 이용해서 생성 (결측치는 0)
- 새로 생성한 컬럼에서 음수가 존재하는지 확인

In [78]:
df1 =df.iloc[:,:8]

In [79]:
df1

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [80]:
#등록일시를 기준으로 오름차순 정렬
df1.sort_values(['등록일시'],inplace=True)

In [81]:
df1.head(3)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744

In [82]:
#인덱스 초기화하고 기존의 인덱스 제거
df1.reset_index(drop=True,inplace=True)

In [83]:
#일일사망자는 shift()함수로 생성 (결측치는 0)
df1['일일사망자'] = (df1['총사망자'] - df1['총사망자'].shift()).fillna(0)

In [84]:
#일일확진자는 diff()함수를 이용해서 생성 (결측치는 0)
df1['일일확진자'] = df1['총확진자'].diff().fillna(0)

In [85]:
#새로 생성한 컬럼에서 음수가 존재하는지 확인
df1.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일확진자
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530435,71013.844067
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,0.000000,0.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,634.000000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,621204.000000

## 교수님 솔루션

In [86]:
#특정 컬럼 제거
#drop()
df.drop(
    ['일일사망자','일일사망자2','일일사망자3','일일확진자','일일확진자2'],
    axis = 1
)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [87]:
#컬럼의 조건으로 필터링
df[['등록일시','기준일']]
df.loc[:, '등록일시' : '누적확진율']
df.loc[:,:'누적확진율']
df.iloc[:,:8]
df.iloc[:,:-5]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [88]:
df2 = df.iloc[:,:-5]

In [89]:
#등록일시를 기준으로 오름차순
df2.sort_values(
    ['등록일시'],
    inplace=True
)

In [90]:
#인덱스를 초기화하고 기존의 인덱스는 제거
#df2.reset_index().drop(['index'],axis=1)
df2.reset_index(drop=True,inplace=True)

In [91]:
#일일사망자 컬럼을 생성하여 총사망자를 이용하여 데이터 생성
#shift()
df2['일일사망자'] = \
    (df2['총사망자'] - df2['총사망자'].shift()).fillna(0)
df2['일일확진자'] = \
    df2['총확진자'].diff().fillna(0)

In [92]:
df2.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일확진자
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530435,71013.844067
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,0.000000,0.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,634.000000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,621204.000000

#### 일일확진자, 일일사망자 컬럼을 추가하는 함수
- 매개변수 2개
    - 첫 번째 인자 : 데이터 프레임
    - 두 번째 인자 : 차순정렬을 할 타켓 컬럼
- 특정 컬럼을 제거
    - 'Unnamed: 0','seq' 컬럼을 제거
- 컬럼의 이름을 변경
    - '등록일시', '총사망자','총확진자','기준일','기준시간','수정일시','누적의심자','누적확진율'
- 특정 컬럼의 데이터를 기준으로 오름차순 정렬
- 인덱스를 초기화하고 기존의 인덱스를 제거
- 일일확진자 컬럼을 추가
    - 총확진자의 차이를 가지고 데이터 생성
- 일일사망자 컬럼을 추가
    - 총사망자의 차이를 가지고 데이터 생성
- 최종 결과 데이터프레임을 되돌려준다.

In [93]:
corona

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [106]:
def add_col(_data, _col):
    
    data = _data.copy()
    col = _col
    
    data.drop(
        ["Unnamed: 0",'seq'],
        axis = 1,
        inplace=True
    )
    
    data.columns = [
    '등록일시',
    '총사망자',
    '총확진자',
    '기준일',
    '기준시간',
    '수정일시',
    '누적의심자',
    '누적확진율'
    ]
    
    data.sort_values(
        [col],
        inplace = True
    )
    
    data.reset_index(drop=True,inplace=True)
    
    data['일일확진자'] = \
        (data['총확진자']-data['총확진자'].shift()).fillna(0)
    data['일일사망자'] = \
        data['총사망자'].diff().fillna(0)
    
    return data

In [107]:
df_test = pd.read_csv('../csv/corona.csv')

In [108]:
test = add_col(df_test,'기준일')

In [112]:
test

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0
...,...,...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039.0,9.0
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834.0,20.0
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,13358.0,6.0

In [110]:
test.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일확진자,일일사망자
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,22171.569512,29.574390
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,71013.844067,68.530435
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,0.000000,0.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,125.000000,2.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,634.000000,5.000000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,2782.750000,20.000000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,621204.000000,469.000000

In [113]:
df_test

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308